name: Build Kernel with KernelSU
on:
  workflow_dispatch: # Запуск вручную

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Kernel Source
        uses: actions/checkout@v4

      - name: Setup Build Environment
        run: |
          sudo apt-get update
          sudo apt-get install -y bc build-essential flex bison libssl-dev libelf-dev clang lld llvm

      - name: Install KernelSU
        run: |
          curl -LSs "https://raw.githubusercontent.com/tiann/KernelSU/main/kernel/setup.sh" | bash -s main
          # Это встроит KernelSU прямо в дерево исходников

      - name: Download Google Clang
        run: |
          mkdir clang
          cd clang
          # Качаем стабильный Clang от Google (AOSP), а не Neutron!
          wget https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/refs/heads/main/clang-r522817.tar.gz
          tar -xf clang-r522817.tar.gz

      - name: Build Kernel
        run: |
          export PATH=$(pwd)/clang/bin:$PATH
          export ARCH=arm64
          export CROSS_COMPILE=aarch64-linux-gnu-
          export CROSS_COMPILE_COMPAT=arm-linux-gnueabi-
          make O=out vendor/bangkk_defconfig # Конфиг твоего Moto G84
          make -j$(nproc --all) O=out \
                      CC=clang \
                      CLANG_TRIPLE=aarch64-linux-gnu- \
                      LD=ld.lld \
                      AR=llvm-ar \
                      NM=llvm-nm \
                      OBJCOPY=llvm-objcopy \
                      OBJDUMP=llvm-objdump \
                      STRIP=llvm-strip

      - name: Upload Image
        uses: actions/upload-artifact@v4
        with:
          name: KernelSU-Image
          path: out/arch/arm64/boot/Image.gz # Твоё готовое ядро
